p {
    padding: 0.3rem;
}
div.cont_link{
    display: inline-flex;
}

a {
    padding: 0.3rem 0.5rem;
    background-color: rgb(217, 181, 120);
    text-decoration: none;
    color: rgb(20, 20, 20);
    font-weight: bold;
    margin-right: 0.4rem;
    display: block;
}

a:hover{
    background-color: rgb(196, 163, 105);
}

a:hover + .opciones{
    border-top: 1px solid black;
}